@if (person) {
  <div class="avatar">
    <img [src]="person.avatar" [alt]="person.firstName + ' avatar'" width="100px" class="w-[100px]">
  </div>
  <div class="content pt-4">
    <div class="text-xl">{{person.firstName}} {{person.lastName}}</div>
    <div class="text-sm font-mono">{{person.email}}</div>
    @if(person.archived) {
      <div class="text-xs font-serif uppercase text-accent-600 font-light">Archived</div>
    }
  </div>  
}
@else {
  <!-- ghost person -->
  <div class="avatar">
    <div class="block w-[100px] h-[100px] bg-neutral-100"></div>
  </div>
  <div class="content pt-4">
    <div class="bg-neutral-100 w-56 h-6 mb-2"></div>
    <div class="bg-neutral-100 w-56 h-4"></div>
  </div>  
}
